{% extends 'Index/default.html' %} 
{% block content %}


        
            
    <main class="col-md-8">
        <ul class="list-group mt-3">
            <li class="list-group-item py-2">
                
                <ul class="list-unstyled list-inline">
	                    <li class="list-inline-item mb-1 mr-1"><a
	                            class="bg-primary text-white py-1 px-1 small"
	                            href="/">全部</a>
	                    </li>
                    
                        <li class="list-inline-item mb-1 mr-1"><a
                                class="bg-faded py-1 px-1 small "
                                href="/category/web-development/">Web开发</a></li>
                    
                        
                    
                </ul>
            </li>
            
            
                <li class="list-group-item">
                    <div class="media w-100">
                        <a href="/user/655/">
                            <img class="d-flex mr-2 mugshot-48 rounded hidden-xs-down"
                                 src="picture/52e17d70ab4a42a1b7077df139f7cbb1.gif"
                                 alt="">
                            <img class="d-flex mr-2 mugshot-24 rounded hidden-sm-up"
                                 src="picture/52e17d70ab4a42a1b7077df139f7cbb1.gif"
                                 alt="">
                        </a>
                        <div class="media-body">
                            <ul class="list-unstyled list-inline small mt-0 list-dot-divider">
                                
                                
                                
                                <li class="list-inline-item m-0">
                                    <a class="text-muted"
                                       href="/user/655/">CodeZsx</a>
                                </li>
                                <li class="list-inline-item m-0 bg-faded px-1">
                                    <a href="/category/django/">Django</a>
                                </li>
                            </ul>
                            <h6 class="mt-1">
                                <a class="post-title" href="/post/161/">
                                    如何获取到github登录的头像和昵称
                                </a>
                            </h6>
                            
                            <ul class="list-unstyled list-inline text-muted small">
                                <li class="list-inline-item m-0">
                                    <a class="text-muted" href="/post/161/">
                                        <time datetime="2017年9月7日 12:59">2小时前</time>
                                    </a>
                                </li>
                                ·
                                <li class="list-inline-item m-0">
                                    <a class="text-muted" href="/post/161/">211 次点击</a>
                                </li>
                                <li class="list-inline-item hidden-md-up m-0">· <a class="text-muted"
                                                                                   href="/post/161/#comment-area">18
                                    回复</a>
                                </li>
                            </ul>
                        </div>
                        
                            <div class="d-flex align-self-center ml-3 hidden-sm-down">
                                <a href="/post/161/#comment-area"
                                   class="badge badge-pill badge-default">18</a>
                            </div>
                        
                    </div>
                </li>
            

            
            <!-- 分页 -->
                <li class="list-group-item">
                    <nav aria-label="Page navigation example" class="w-100">
                        <ul class="pagination pagination-sm justify-content-center">
                            
                            
                            
                            <li class="page-item active"><a class="page-link"
                                                            href="?page=1">1</a>
                            </li>
                            
                                
                                    <li class="page-item"><a class="page-link" href="?page=2">2</a></li>
                                
                                    <li class="page-item"><a class="page-link" href="?page=3">3</a></li>
                                
                                
                                    <li class="page-item"><span class="mx-3">...</span></li>
                                
                            
                            
                                <li class="page-item">
                                    <a class="page-link"
                                       href="?page=8">8</a>
                                </li>
                            
                            
                                <li class="page-item">
                                    <a class="page-link" href="?page=2" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </li>
                            
                        </ul>
                    </nav>
                </li>
            
        </ul>
    </main>

            
                
            
        


{% endblock %}