<aside class="col-md-4">
                            <div class="card card-block mt-3">
                                <a class="h6 mb-0 " href="/new/"><i class="fa fa-plus mr-2"
                                                                                       aria-hidden="true"></i>快速发布新帖子</a>
                            </div>
                            <ul class="list-group mt-3">
                                <li class="list-group-item">
                                    <h5 class="font-weight-bold">新加入会员</h5>
                                </li>
                                
                                
                                    <li class="list-group-item">
                                        <div class="media w-100">
                                            <a href="/user/660/">
                                                <img class="d-flex mr-2 mugshot-24 rounded"
                                                     src="picture/0e42b37a69e44b0dbdf190aed6aaa46b.gif" alt="">
                                            </a>
                                            <div class="media-body">
                                                <h6 class="mt-0">
                                                    <a class="small text-muted"
                                                       href="/user/660/">
                                                        tooast
                                                    </a>
                                                </h6>
                                                <div class="small text-muted">第 660
                                                    号会员，加入于 2017年9月7日 12:31</div>
                                            </div>
                                        </div>
                                    </li>
                                
                      
                                
                            </ul>
                            <ul class="list-group mt-3">
                                <li class="list-group-item">
                                    <h5 class="font-weight-bold">热门讨论</h5>
                                </li>
                                
                                
                                    <li class="list-group-item">
                                        <div class="media w-100">
                                            <a href="/user/655/">
                                                <img class="d-flex mr-2 mugshot-24 rounded"
                                                     src="picture/52e17d70ab4a42a1b7077df139f7cbb1.gif" alt="">
                                            </a>
                                            <div class="media-body">
                                                <h6 class="mt-0">
                                                    <a class="post-title"
                                                       href="/post/161/">
                                                        如何获取到github登录的头像和昵称
                                                    </a>
                                                </h6>
                                            </div>
                                        </div>
                                    </li>
                                
                                
                            </ul>
                            <div class="card card-block mt-3">
                                <div>
                                    <i class="fa fa-rss mr-2" aria-hidden="true"></i>通过 <a href="/all/rss/">RSS</a> 或 <a
                                        href="/all/atom/">Atom</a> 订阅
                                </div>
                            </div>
        </aside>