{% extends 'Index/default.html' %} 
{% block content %}
<main class="col-md-8">
    <div class="card mt-3">
        <nav class="breadcrumb m-0 pb-0 bg-white">
            <a class="breadcrumb-item" href="/">Pythonzhcn</a>
            <a class="breadcrumb-item active" href="/category/newbie-qa/">新手问答</a>
        </nav>
        <div class="card-block">
            <hr class="mt-0">
            <div class="media">
                <div class="media-body">
                    <h1 class="card-title h5 post-title font-weight-bold mt-0">求指点</h1>
                    <ul class="list-unstyled list-inline text-muted small list-dot-divider">
                        <li class="list-inline-item m-0"><a class="text-muted" href="/user/598/">Alic-yuan</a>
                        </li>
                        <li class="list-inline-item m-0">
                            <time datetime="2017年9月5日 15:03">2天前</time>
                        </li>
                        <li class="list-inline-item m-0">45 次点击</li>
                    </ul>
                </div>
                <a href="/user/598/">
                        <img class="d-flex ml-3 rounded mugshot-48" src="/media/CACHE/images/mugshots/Alicyuan/Lighthouse/0a6fc5d48ef2440f0438cf596118af53.jpg" alt="">
                    </a>
            </div>
            <hr class="mt-0">
            <div class="card-text">
                <p>跟随博主的博客把个人博客给做完了，但是感觉学完后让自己独立做一个网站还是不会做，这种情况该咋办呀，求指教</p>
            </div>
        </div>
        <div class="card-footer">
            <ul class="list-unstyled list-inline m-0">
                <li class="list-inline-item"><a class="btn btn-sm btn-outline-secondary text-primary
                            js-recommend  " data-state="0" href="/activity/follow/19/167/recommend/"><i class="fa fa-chevron-up mr-1" aria-hidden="true"></i><span>0</span></a></li>
                <li class="list-inline-item"><a class="btn btn-sm btn-outline-secondary text-primary
                            js-unrecommend  " data-state="0" href="/activity/follow/19/167/unrecommend/"><i class="fa fa-chevron-down mr-1" aria-hidden="true"></i><span>0</span></a></li>
                <li class="list-inline-item float-right">
                    <a class="btn btn-sm btn-outline-primary" href="/activity/follow/19/167/favorite/?next=/post/167/">
                                    <i class="fa fa-bookmark-o mr-1" aria-hidden="true"></i>收藏</a>
                </li>
            </ul>
        </div>
    </div>
    <ul class="list-group mt-3" id="comment-area">
        <li class="list-group-item font-weight-bold">
            2 条回复
            <span class="mx-1">|</span> 2 人参与
        </li>
        <li class="list-group-item" id="c866">
            <div class="w-100">
                <div class="row no-gutters">
                    <div class="col-auto">
                        <a href="/user/596/">
                                    <img class="mr-2 mugshot-48 rounded hidden-xs-down" src="https://avatars1.githubusercontent.com/u/8065828?v=4" alt="">
                                    <img class="mr-2 mugshot-24 rounded hidden-sm-up" src="https://avatars1.githubusercontent.com/u/8065828?v=4" alt="">
                                </a>
                    </div>
                    <div class="col">
                        <div class="d-flex justify-content-between"><a class="text-muted" href="/user/596/">liuxinglan13</a>
                            <small class="text-muted"># 1</small>
                        </div>
                        <div class="py-1">
                            <p>把博主的博客进行魔改。。。。加一些自己喜欢的功能和页面进去。。。。</p>
                        </div>
                        <ul class="list-unstyled list-inline list-dot-divider w-100">
                            <li class="list-inline-item m-0 small">
                                <a href="/activity/follow/20/866/praise/" class="js-up 
                                            " data-state="0"><i class="fa fa-thumbs-o-up mr-1 " aria-hidden="true"></i><span>0</span></a>
                            </li>
                            <li class="list-inline-item m-0 small">
                                <a href="/activity/follow/20/866/unpraise/" class="js-down 
                                            " data-state="0"><i class="fa fa-thumbs-o-down mr-1 " aria-hidden="true"></i><span>0</span></a>
                            </li>
                            <li class="list-inline-item m-0">
                                <time class="small text-muted">2天前</time>
                            </li>
                            <li class="list-inline-item m-0">
                                <a class="small text-muted js-reply " href="#" data-nickname="liuxinglan13" data-parent="866">回复
                                        </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </li>
        <li class="list-group-item" id="c868">
            <div class="w-100">
                <div class="row no-gutters">
                    <div class="col-auto">
                        <a href="/user/598/">
                                    <img class="mr-2 mugshot-48 rounded hidden-xs-down" src="/media/CACHE/images/mugshots/Alicyuan/Lighthouse/0a6fc5d48ef2440f0438cf596118af53.jpg" alt="">
                                    <img class="mr-2 mugshot-24 rounded hidden-sm-up" src="/media/CACHE/images/mugshots/Alicyuan/Lighthouse/0a6fc5d48ef2440f0438cf596118af53.jpg" alt="">
                                </a>
                    </div>
                    <div class="col">
                        <div class="d-flex justify-content-between"><a class="text-muted" href="/user/598/">Alic-yuan</a>
                            <small class="text-muted"># 2</small>
                        </div>
                        <div class="py-1">
                            <p>@<a href="/user/596/">liuxinglan13</a> 我试试看</p>
                        </div>
                        <ul class="list-unstyled list-inline list-dot-divider w-100">
                            <li class="list-inline-item m-0 small">
                                <a href="/activity/follow/20/868/praise/" class="js-up 
                                            " data-state="0"><i class="fa fa-thumbs-o-up mr-1 " aria-hidden="true"></i><span>0</span></a>
                            </li>
                            <li class="list-inline-item m-0 small">
                                <a href="/activity/follow/20/868/unpraise/" class="js-down 
                                            " data-state="0"><i class="fa fa-thumbs-o-down mr-1 " aria-hidden="true"></i><span>0</span></a>
                            </li>
                            <li class="list-inline-item m-0">
                                <time class="small text-muted">1天前</time>
                            </li>
                            <li class="list-inline-item m-0">
                                <a class="small text-muted js-reply " href="#" data-nickname="Alic-yuan" data-parent="868">回复
                                        </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </li>
    </ul>
    <div class="card mt-3">
        <div class="card-header bg-white">
            <span class="text-muted">添加一条新回复</span>
        </div>
        <div class="card-block">
            <form class="form" action="/replies/post/" method="post">
                <input type="hidden" name="csrfmiddlewaretoken" value="WDfyzviugjqdPnciTPRJEBlGug6OXDAn0mQggTIQX6kIVqFxTtt1Y8DUOmbNX1L7">
                <input id="id_content_type" name="content_type" type="hidden" value="forum.post">
                <input id="id_object_pk" name="object_pk" type="hidden" value="167">
                <input id="id_timestamp" name="timestamp" type="hidden" value="1504774817">
                <input id="id_security_hash" maxlength="40" minlength="40" name="security_hash" type="hidden" value="e01ea0d019b178140bbbef89334200c8b7fb44b3">
                <input id="id_parent" name="parent" type="hidden">
                <input type="hidden" name="next" value="/replies/success/">
                <input id="id_honeypot" name="honeypot" type="text">
                <div class="form-group">
                    <button type="button" class="btn btn-sm mr-2 bg-faded" id="js-edit">编辑</button>
                    <button type="button" class="btn btn-sm bg-faded" id="js-preview">预览</button>
                    <textarea cols="40" id="id_comment" maxlength="3000" name="comment" rows="10" required="" class="form-control"></textarea>
                    <div class="preview-area" id="js-preview-area"></div>
                </div>
                <a class="text-muted small" href="http://www.appinn.com/markdown/index.html" target="_blank">使用 Markdown 提供优雅排版<i class="fa fa-question-circle ml-1" aria-hidden="true"></i></a>
                <button id="js-create" class="btn btn-primary btn-sm float-right" type="submit"><i class="fa fa-paper-plane mr-2" aria-hidden="true"></i>发表
                </button>
                <span class="small text-muted float-right mr-2">Ctrl/Command + 回车发表</span>
            </form>
        </div>
    </div>
</main>
{% endblock %}


{% block other %}
{% include 'Index/other.html' %}
{% endblock %}